body {
    display: flex;
    font-family: 'Papyrus', sans-serif;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
    padding-top: 10vh;
    touch-action: none;
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: blanchedalmond;
    border-bottom: 2px solid whitesmoke;
    color: darkslategray;
    text-align: center;
    height: 15vh;
}

#butdiv { 
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.but {
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 3.9vh;
    padding-bottom: 3.9vh;
    background-color: transparent;
    color: darkslategray;
    border-radius: 5px;
    font-size: large;
    border: none;
}

.thi {
    transition: transform 0.3s ease;
}

.thi:hover {
    transform: scale(1.2);
}

#plu {
    height: 25vh;
    width: auto;
}

#o, #f, #t, #th, #s, #tw {
    height: 13vh;
    width: auto;
}

#butleft, #butright {
    min-height: 100vh;
}

#butleft {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-width: 250px;
}

#butright {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    display: block;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-width: 250px;
}

h3 {
    margin-top: 10vh;
}

@media (max-width: 768px) {
    #butdiv {
        padding-bottom: 10vh;
    }
    
    #butleft, #butright {
        min-height: auto;
    }
    
    #butleft {
        display: flex;
        position: relative;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        margin-top: 10vh;
        left: 0;
        right: 0;
        justify-content: space-evenly;
        padding-bottom: 5vh;
    }

    #butright {
        display: flex;
        position: relative;
        height: 16vh;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        right: 0;
        justify-content: space-evenly;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    header {
        height: 15vh;
        padding-bottom: 2vh;
    }

    .but {
        margin-top: 0vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: medium;
    }

    .but:hover {
        padding-top: 1.9vh;
        padding-bottom: 1.9vh;
        padding-left: 0.9vw;
        padding-right: 0.9vw;
    }

    #o, #f, #t, #th, #s {
        height: 9vh;
        width: auto;
    }

    #tw {
        height: 8vh;
        width: auto;
    }
}
