body {
    display: flex;
    font-family: 'Papyrus', sans-serif;
    background-color: bisque;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
    padding-top: 10vh;
    touch-action: manipulation;
}

.dark-mode {
    filter: invert(1);
}

header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: blanchedalmond;
    border-bottom: 2px solid whitesmoke;
    color: darkslategray;
    text-align: center;
    height: 15vh;
    padding-bottom: 1vh;
}

#butdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
}

.but {
    padding: 3.9vh 1.9vw;
    background-color: transparent;
    color: darkslategray;
    border-radius: 5px;
    font-size: large;
    border: none;
    pointer-events: auto;
}

#plus {
    position: absolute;
    z-index: 10;
    margin-top: 15vh;
}

.thi {
    transition: transform 0.3s ease;
}

.thi:hover {
    transform: scale(1.2);
}

#plu {
    height: 25vh;
    width: auto;
}

#o, #f, #t, #th, #s, #tw {
    height: 13vh;
    width: auto;
}

#updiv {
    position: absolute;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    margin-bottom: 20vh;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    bottom: 0;
    width: 75vh;
    height: 15vh;
}

#upim {
    height: 5vh;
    width: auto;
}

#up {
    background-color: transparent;
    border: 0;
    color: darkslategray;
    min-width: 5vh;
    display: none;
}

#up:disabled {
    display: none;
}

#butleft, #butright {
    position: absolute;
    min-height: 100vh;
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    top: 0;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    min-width: 250px;
    height: 95%;
}

#butleft {
    left: 0;
}

#butright {
    right: 0;
}

h3 {
    position: absolute;
    margin-top: 10vh;
}

h1 {
    margin-bottom: 0;
    display: inline-block;
}

#dark {
    position: absolute;
    left: 0;
    margin-left: 60vh;
    margin-top: 5vh;
    background-color: transparent;
    border: 0;
    z-index: 12;
}

#drkim {
    fill: darkslategray;
}

#drkim:hover {
    fill: whitesmoke;
}

#reset {
    position: absolute;
    bottom: 0;
    margin-bottom: 7vh;
}

.ui {
    background-color: blanchedalmond;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    padding: 1vh 2vw;
    color: darkslategray;
    transition: transform 0.3s ease;
    width: 10vw;
}

.ui:hover {
    transform: scale(1.2);
    background-color: bisque;
}

.ver {
    position: absolute;
    bottom: 0;
}

#ru {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border: 2px solid whitesmoke;
    width: 40vw;
    height: 25vh;
    text-align: center;
    z-index: 11;
    display: none;
}

#y {
    margin-bottom: 2vh;
}

@media (max-width: 768px) {
    #butdiv {
        padding-bottom: 10vh;
        margin-top: 60vh;
    }
    
    #butleft, #butright {
        box-sizing: border-box;
        min-height: auto;
        display: flex;
        position: relative;
        width: 100%;
        left: 0;
        flex-direction: row;
        right: 0;
        justify-content: space-evenly;
    }
    
    #butleft {
        height: 25vh;
        padding-bottom: 5vh;
        border-bottom: transparent;
        border-color: whitesmoke;
        margin-top: 3vh;
    }

    #butright {
        height: 25vh;
        padding: 1vh 1vw;
        bottom: 0;
    }

    header {
        height: 15vh;
        padding-bottom: 5vh;
    }

    .but {
        margin-top: 0vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: medium;
    }

    .but:hover {
        padding-top: 1.9vh;
        padding-bottom: 1.9vh;
        padding-left: 0.9vw;
        padding-right: 0.9vw;
    }

    #updiv {
        margin-top: 105vh;
        margin-bottom: 12vh;
    }

    #o, #f, #t, #th, #s {
        height: 9vh;
        width: auto;
    }

    #tw {
        height: 8vh;
        width: auto;
    }

    .ver {
        position: static;
        bottom: auto;
    }

    #reset {
        position: static;
        margin-bottom: 1vh;
    }

    #plus {
        margin-top: 20vh;
    }

    #updiv {
        position: static;
        box-sizing: border-box;
        max-width: 96vw;
    }

    #dark {
        margin-left: 2vw;
    }

    .ui {
        width: 20vw;
    }

    #ru {
        width: 50vh;
        justify-self: center;
    }

    h3 {
        margin-top: 12vh;
    }
}
